<div class="row">
  <div *ngFor="let idea of ideas | async">
    <div class="col m6">
      <div class="card grey lighten-3">
        <div class="card-content">
          <img src={{idea.image}} alt="Idea image"/>
          <h3 (click)="goToDetailPage(idea)">{{idea.name}}</h3>
          <p><small>Posted by {{idea.creator}}</small></p>
          <p>{{idea.description}}</p>
          <br>
          <p><small>Funding goal: ${{idea.fundingGoal}}</small></p>
          <p><small>Popularity: {{idea.popularity}}</small></p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
