<h3>New Thing</h3>
<div class="row">
  <form (ngSubmit)="submitForm(newName.value, newCreator.value, newDescription.value, newFundGoal.value, newImage.value); newName.value=''; newCreator.value=''; newDescription.value=''; newFundGoal.value=''; newImage.value='';">

  <div class="input-field col s6">
    <input #newCreator required>
    <label class="active" for="creator">Your name</label>
  </div>
  <div class="input-field col s6">
    <input #newName required>
    <label class="active" for="name">Name of your thing</label>
  </div>
  <div class="input-field col s6">
    <input #newDescription required>
    <label class="active" for="description">Description of thing</label>
  </div>
  <div class="input-field  col s6">
    <input type="number" #newFundGoal required>
    <label class="active" for="fundGoal">Funding Amount</label>
  </div>
  <div class="input-field col s6">
    <input #newImage >
    <label class="active" for="image">Link to your image of your thing (optional)</label>
  </div>
  <div class="col s8">
    <p>
      <input (click)="setFundingType('project')" name="fundingType" type="radio" id="project" checked/>
      <label for="project">Project</label>
    </p>
    <p>
      <input (click)="setFundingType('charitableAct')" name="fundingType" type="radio" id="charitableAct"/>
      <label for="charitableAct">Charitable Act</label>
    </p>
    <p>
      <input (click)="setFundingType('idea')" name="fundingType" type="radio" id="idea"  />
      <label for="idea">Idea</label>
    </p>
    <button class="btn" type="submit">Add Thing</button>

  </div>
  </form>
</div>
